body {
  background-color: #ccc;
  font-family: sans-serif;
  color: #000;
  font-size: 20px;
}

#chart {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}

#expand-btn {
  display: inline-block;
  padding: 0 0.25em 0 0.25em;
  border-radius: 1em; /*16px;*/
  box-shadow: 0px 0px 0.4em #000;
}

#isexpanded:checked ~ #expand-btn {
  box-shadow:inset 0px 0px 0.2em #000;
}

#isexpanded, #controls {
  display: none;
}

#isexpanded:checked ~ #controls {
    display: block;
    display: inline-block;
    clear: both;
    background: #cccccc;
    border: solid;
    border-width: 0px;
    border-radius: 1em;
    box-shadow:inset 0px 0px 0.4em #000;
}

#controls ul {
  list-style: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0;
}
