body {
  background-color: #ccc;
  font-family: sans-serif;
  color: #000;
  font-size: 20px;
}

#chart {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#expand-btn {
  display: inline-block;
  /*padding: 0 0.25em 0 0.25em;*/
  border-radius: 1em; /*16px;*/
  /*box-shadow: 0px 0px 0.4em #000;*/
}

/*#isexpanded:checked ~ #expand-btn {
  box-shadow:inset 0px 0px 0.2em #000;
}*/

#controls {
  -moz-transition: max-height 0.5s ease-out;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; /* this is a bit of a hack */

  overflow: hidden;
  max-height: 0;
  background: #cccccc;
  border: solid;
  border-width: 0px;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.4em #000;
}

#isexpanded:checked ~ #controls {
  -moz-transition: max-height 0.5s ease-in;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in; /* this is a bit of a hack */

  overflow: hidden;
  max-height: 35em; /* this is a bit of a hack */
  background: #cccccc;
  border: solid;
  border-width: 0px;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.4em #000;
}

#controls ul {
  float: left;
  list-style: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0;
  border-left: dashed grey;
  border-top: dashed grey;
}

#controls ul:not(:first-child){
  border-left: dashed grey;
  border-top: dashed grey;
}

input[type="checkbox"] {
  width: 1em; /* grow with the text */
  height: 1em;
  disabled: true;
}
