body {
  background-color: #ccc;
  font-family: sans-serif;
  color: #000;
  font-size: 20px;
}

#chart {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#expand-btn {
  display: inline-block;
  /*padding: 0 0.25em 0 0.25em;*/
  border-radius: 1em; /*16px;*/
  /*box-shadow: 0px 0px 0.4em #000;*/
}

/*#isexpanded:checked ~ #expand-btn {
  box-shadow:inset 0px 0px 0.2em #000;
}*/

details {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease-in-out; /* this is a bit of a hack */

  overflow: hidden;
  padding: 0.25em 0.50em;
  display: inline-block;
  background: #F00;
  border: solid;
  border-width: 0px;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.4em #000;

  cursor: pointer;
}

details[open] {
  overflow: hidden;
  padding: 0.25em 0.50em;
  display: inline-block;
  background: #0F0;
  border: solid;
  border-width: 0px;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.4em #000;

  cursor: pointer;
}


/*#isexpanded:checked ~ #controls {
  overflow: hidden;
  padding: 0.25em 0.50em;
  display: inline-block;
  max-height: 50em; /* this is a bit of a hack */
 /* background: #cccccc;
  border: solid;
  border-width: 0px;
  border-radius: 1em;
  box-shadow: inset 0px 0px 0.4em #000;
}*/

#controls ul {
  list-style: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0;
  border-bottom-left-radius: 1em; /*16px;*/
  border-top-left-radius: 1em; /*16px;*/
  border-left: dashed grey;
}

input {
  width: 1em; /* grow with the text */
  height: 1em;
}
