body {
    background-color: #FFF;
    font-family: sans-serif;
    color: #4D4D4D;
    font-size: 20px;
}

text {
    fill: #4D4D4D;
}

a, input, button {
    -ms-touch-action: none !important;
}

#chart {
    font: 10px sans-serif;
    overflow: none;
}

path, line {
    /*shape-rendering: crispEdges;*/
}

.axis path, .axis line {
    fill: none;
    stroke: #4D4D4D;
    shape-rendering: crispEdges;
}

.axis path {
    /* Don't show the axis lines. */
    display: none;
}

.y.axis line {
    stroke: #999;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
    shape-rendering: crispEdges;
}

#chart_container {
    position: relative;
    overflow: none;
}

#charts {
    overflow: none;
}

#zoomSVG {
    position: absolute;
    top: 0;
    left: 0;
}

#zoomRect {
    border-style: solid;
    border-width: 1px;
    cursor: col-resize;
}

#expand-btn {
    /*padding: 0 0.25em 0 0.25em;*/
    /*border-radius: 1em;*/ /*16px;*/
    /*box-shadow: 0px 0px 0.4em #000;*/
}

/*#isexpanded:checked ~ #expand-btn {
box-shadow:inset 0px 0px 0.2em #000;
}*/

    #controls {
        -moz-transition: max-height 0.5s ease-out;
        -webkit-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out; /* this is a bit of a hack */

        overflow: hidden;
        max-height: 0;
        background-color: #eee;
        border: solid;
        border-width: 0px;
        border-radius: 1em;
        box-shadow: inset 0px 0px 0.4em #000;
    }

    #isexpanded:checked ~ #controls {
        -moz-transition: max-height 0.5s ease-in;
        -webkit-transition: max-height 0.5s ease-in;
        transition: max-height 0.5s ease-in; /* this is a bit of a hack */

        overflow: hidden;
        max-height: 35em; /* this is a bit of a hack */
        background: #eee;
        border: solid;
        border-width: 0px;
        border-radius: 1em;
        box-shadow: inset 0px 0px 0.4em #000;
    }

    #controls ul {
        float: left;
        list-style: none;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin: 0;
        border-left: dashed grey;
        border-top: dashed grey;
    }

    #controls ul:not(:first-child) {
        border-left: dashed grey;
        border-top: dashed grey;
    }

/*{{{ GIANT SLIDER ON MOBILE */
input[type='range'] {
    height:30px;
}

input[type='range']::-webkit-slider-thumb {
    height:30px;
    width:30px;
}
/* GIANT SLIDER ON MOBILE }}}*/

/*{{{ Custom Checkboxes*/
label {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 0em; /* grow with the text */
    height: 0em;
    opacity: 0;
    float: left;
}

input[type="radio"] {
    width: 0em;
    height: 0em;
    opacity: 0;
    float: left;
}

input[type="checkbox"] + label{
    padding: 0 0 0 1em;
    margin: 0 .3em 0 0;
    width: 1em;
    height: 1em;
    clear: none;
    cursor: pointer;
}

input[type="radio"] + label {
    padding: 0 0 0 1em;
    margin: 0 .3em 0 0;
    width: 1em;
    height: 1em;
    clear: none;
    cursor: pointer;
}

#isexpanded + label{
    background: url(./img/black0.svg) left center no-repeat;
    background-size: contain;
}

#isexpanded:checked + label{
    background: url(./img/black1.svg) left center no-repeat;
    background-size: contain;
}

#q1 + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#q1:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#q3 + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#q3:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#mins + label{
    background: url(./img/green0.svg) left center no-repeat;
    background-size: contain;
}

#mins:checked + label{
    background: url(./img/green1.svg) left center no-repeat;
    background-size: contain;
}

#missing + label{
    background: url(./img/black0.svg) left center no-repeat;
    background-size: contain;
}

#missing:checked + label{
    background: url(./img/black1.svg) left center no-repeat;
    background-size: contain;
}

#maxes + label{
    background: url(./img/blue0.svg) left center no-repeat;
    background-size: contain;
}

#maxes:checked + label{
    background: url(./img/blue1.svg) left center no-repeat;
    background-size: contain;
}

#average + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#average:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#quartiles + label{
    background: url(./img/red_light0.svg) left center no-repeat;
    background-size: contain;
}

#quartiles:checked + label{
    background: url(./img/red_light1.svg) left center no-repeat;
    background-size: contain;
}

#stp_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#stp_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

#mon_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#mon_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

#lin_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#lin_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

/*}}}*/

/* Loading Animation {{{*/
/* From http://cssload.net/ */
#circularG{
display:none;
position:absolute;
left:5px;
width:30px;
height:30px}

.circularG{
position:absolute;
background-color:#A3A3A3;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:0.72s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:0.72s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:0.72s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularG;
-o-animation-duration:0.72s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularG;
animation-duration:0.72s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:12px;
-moz-animation-delay:0.27s;
-webkit-animation-delay:0.27s;
-ms-animation-delay:0.27s;
-o-animation-delay:0.27s;
animation-delay:0.27s;
}

#circularG_2{
left:3px;
top:3px;
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#circularG_3{
top:0;
left:12px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#circularG_4{
right:3px;
top:3px;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-ms-animation-delay:0.54s;
-o-animation-delay:0.54s;
animation-delay:0.54s;
}

#circularG_5{
right:0;
top:12px;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

#circularG_6{
right:3px;
bottom:3px;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#circularG_7{
left:12px;
bottom:0;
-moz-animation-delay:0.81s;
-webkit-animation-delay:0.81s;
-ms-animation-delay:0.81s;
-o-animation-delay:0.81s;
animation-delay:0.81s;
}

#circularG_8{
left:3px;
bottom:3px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}/*}}}*/

/* vim: set foldmethod=marker: */
