body {
    background-color: #FFF;
    font-family: sans-serif;
    color: #4D4D4D;
    font-size: 20px;
}

text {
    fill: #4D4D4D;
}

.posArea path {
    stroke: none;
}

.posPath path {
    fill: none;
}

path.average {
    stroke: #C00;
}

path.maxes {
    stroke: #000FB5;
}

path.mins {
    stroke: #00B515;
}

path.q1 {
    stroke: #800;
}

path.q3 {
    stroke: #800;
}

path.quartiles {
    fill: #800;
    fill-opacity: 0.2;
}

path.missing {
    stroke: #C00;
    stroke-dasharray: 4
}

path.missingBox {
    fill: #F0F0F0;
}

@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@-moz-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

path.loadingBox {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 50, 214;
    stroke-dashoffset: 0;
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}

a, input, button {
    -ms-touch-action: none !important;
}

#chart {
    font: 10px sans-serif;
    overflow: none;
}

path, line {
    /*shape-rendering: crispEdges;*/
}

.axis path, .axis line {
    fill: none;
    stroke: #4D4D4D;
    shape-rendering: crispEdges;
}

.axis path {
    /* Don't show the axis lines. */
    display: none;
}

.y.axis line {
    stroke: #999;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
    shape-rendering: crispEdges;
}

#chart_container {
    position: relative;
    overflow: none;
}

#charts {
    overflow: none;
}

#slider_container {
    z-index: 1;
}

#zoomSVG {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#zoomRect {
    border-style: solid;
    border-width: 1px;
    cursor: col-resize;
}

#expand-btn {
    /*padding: 0 0.25em 0 0.25em;*/
    /*border-radius: 1em;*/ /*16px;*/
    /*box-shadow: 0px 0px 0.4em #000;*/
}

/*#isexpanded:checked ~ #expand-btn {
box-shadow:inset 0px 0px 0.2em #000;
}*/

    #controls {
        -moz-transition: max-height 0.5s ease-out;
        -webkit-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out; /* this is a bit of a hack */

        overflow: hidden;
        max-height: 0;
        background: #f6f6f6;
        border: solid;
        border-width: 0px;
        border-radius: 1em;
        box-shadow: inset 0px 0px 0.4em #000;
    }

    #isexpanded:checked ~ #controls {
        -moz-transition: max-height 0.5s ease-in;
        -webkit-transition: max-height 0.5s ease-in;
        transition: max-height 0.5s ease-in; /* this is a bit of a hack */

        overflow: hidden;
        max-height: 35em; /* this is a bit of a hack */
        background: #f6f6f6;
        border: solid;
        border-width: 0px;
        border-radius: 1em;
        box-shadow: inset 0px 0px 0.4em #000;
    }

    #controls ul {
        /*float: left;*/
        list-style: none;
        padding: 0.5em 0.5em 0.5em 0.15em;
        margin: 0;
        /*border-left: dashed grey;*/
        /*border-top: dashed grey;*/
    }

    #controls ul:not(:first-child) {
        /*border-left: dashed grey;*/
        border-top: dashed grey;
    }

/*{{{ GIANT SLIDER ON MOBILE */
input[type='range'] {
    height:30px;
}

input[type='range']::-webkit-slider-thumb {
    height:30px;
    width:30px;
}
/* GIANT SLIDER ON MOBILE }}}*/

/*{{{ Custom Checkboxes*/
label {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 0em; /* grow with the text */
    height: 0em;
    opacity: 0;
    float: left;
}

input[type="radio"] {
    width: 0em;
    height: 0em;
    opacity: 0;
    float: left;
}

input[type="checkbox"] + label{
    padding: 0 0 0 1em;
    margin: 0 .3em 0 0;
    width: 1em;
    height: 1em;
    clear: none;
    cursor: pointer;
}

input[type="radio"] + label {
    padding: 0 0 0 1em;
    margin: 0 .3em 0 0;
    width: 1em;
    height: 1em;
    clear: none;
    cursor: pointer;
}

#isexpanded + label{
    background: url(./img/black0.svg) left center no-repeat;
    background-size: contain;
}

#isexpanded:checked + label{
    background: url(./img/black1.svg) left center no-repeat;
    background-size: contain;
}

#q1 + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#q1:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#q3 + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#q3:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#mins + label{
    background: url(./img/green0.svg) left center no-repeat;
    background-size: contain;
}

#mins:checked + label{
    background: url(./img/green1.svg) left center no-repeat;
    background-size: contain;
}

#missing + label{
    background: url(./img/black0.svg) left center no-repeat;
    background-size: contain;
}

#missing:checked + label{
    background: url(./img/black1.svg) left center no-repeat;
    background-size: contain;
}

#maxes + label{
    background: url(./img/blue0.svg) left center no-repeat;
    background-size: contain;
}

#maxes:checked + label{
    background: url(./img/blue1.svg) left center no-repeat;
    background-size: contain;
}

#average + label{
    background: url(./img/red_dark0.svg) left center no-repeat;
    background-size: contain;
}

#average:checked + label{
    background: url(./img/red_dark1.svg) left center no-repeat;
    background-size: contain;
}

#quartiles + label{
    background: url(./img/red_light0.svg) left center no-repeat;
    background-size: contain;
}

#quartiles:checked + label{
    background: url(./img/red_light1.svg) left center no-repeat;
    background-size: contain;
}

#stp_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#stp_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

#mon_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#mon_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

#lin_rad + label{
    background: url(./img/circ0.svg) left center no-repeat;
    background-size: contain;
}

#lin_rad:checked + label{
    background: url(./img/circ1.svg) left center no-repeat;
    background-size: contain;
}

/*}}}*/

/* {{{ Loading Spinner Icon */
#loader_container {
    display: none;
    position: absolute;
    left: 85px;
}
/* Loading Spinner Icon }}}*/

/* vim: set foldmethod=marker: */
