body {
    background-color: #FFF;
    font-family: sans-serif;
    color: #4D4D4D;
    font-size: 20px;
}

/* {{{ CHART */
text {
    fill: #4D4D4D;
}

.posArea path {
    stroke: none;
}

.posPath path {
    fill: none;
}

path.average {
    stroke: #C00;
}

path.maxes {
    stroke: #000FB5;
}

path.mins {
    stroke: #00B515;
}

path.q1 {
    stroke: #800;
}

path.q3 {
    stroke: #800;
}

path.quartiles {
    fill: #800;
    fill-opacity: 0.2;
}

path.missing {
    stroke: #C00;
    stroke-dasharray: 4
}

path.missingBox {
    fill: #F0F0F0;
}

#chart {
    font: 10px sans-serif;
    overflow: hidden;
}

path, line {
    /*shape-rendering: crispEdges;*/
}

.axis path, .axis line {
    fill: none;
    stroke: #4D4D4D;
    shape-rendering: crispEdges;
}

.axis path {
    /* Don't show the axis lines. */
    display: none;
}

.y.axis line {
    stroke: #999;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
    shape-rendering: crispEdges;
}

.x.axis.minor text {
    display: none;
}

#chart_container {
    position: relative;
    overflow: hidden;
}

#charts {
    overflow: hidden;
}

#slider_container {
    z-index: 1;
}

#zoomSVG {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#zoomRect {
    border-style: solid;
    border-width: 1px;
    cursor: col-resize;
}
/* CHART }}} */

/* {{{ CONTROLS */

a, input, button {
    -ms-touch-action: none !important;
}

#expand-btn {
    /*padding: 0 0.25em 0 0.25em;*/
    /*border-radius: 1em;*/ /*16px;*/
    /*box-shadow: 0px 0px 0.4em #000;*/
}

/*#isexpanded:checked ~ #expand-btn {
box-shadow:inset 0px 0px 0.2em #000;
}*/

#controls {
    -moz-transition: max-width 0.3s ease-in,     max-height 0.3s step-end, border-width 0.3s step-end;
    -webkit-transition: max-width 0.3s ease-in,  max-height 0.3s step-end, border-width 0.3s step-end;
    transition: max-width 0.3s ease-in,          max-height 0.3s step-end, border-width 0.3s step-end;

    position: absolute;
    overflow: hidden;
    max-height: 0em;
    max-width: 0em;
    background: #f6f6f6;
    border: solid;
    border-width: 0px;
    border-radius: 0em 1em 1em 0em;
    /*box-shadow: inset 0px 0px 0.4em #000;*/
}

#isexpanded:checked ~ #controls {
    -moz-transition: max-width 0.3s ease-in;
    -webkit-transition: max-width 0.3s ease-in;
    transition: max-width 0.3s ease-in;


    position: absolute;
    overflow: hidden;
    max-height: 35em; /* this is a bit of a hack */
    max-width: 9.5em;
    background: #f6f6f6;
    border: solid;
    border-width: 2px 2px 2px 0px;
    border-radius: 0em 1em 1em 0em;
    /*box-shadow: inset 0px 0px 0.4em #000;*/
}

#controls ul {
    /*float: left;*/
    list-style: none;
    padding: 0.5em 0.5em 0.5em 0.15em;
    margin: 0;
    width: 12em;
    /*border-left: dashed grey;*/
    /*border-top: dashed grey;*/
}

#controls ul:not(:first-child) {
    /*border-left: dashed grey;*/
    border-top-width: 2px;
    border-top-color: grey;
    border-top-style: dashed;
}
/* CONTROLS }}} */

/* {{{ OVERLAY*/
#edit_new {
    display: none;
}

#edit_new_ul {
    background-color: rgba(220,220,220, 0.75);
    width: 100%;
    height: 100%;
}
/* OVERLAY }}} */

/*{{{ Custom Checkboxes*/
ul {
    list-style: none;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label img:nth-child(1) {
    display: inline-block;
}

input[type="checkbox"]:checked + label img:nth-child(1) {
    display: none;
}

input[type="checkbox"] + label img:nth-child(2) {
    display: none;
}

input[type="checkbox"]:checked + label img:nth-child(2) {
    display: inline-block;
}

input[type="radio"] + label img:nth-child(1) {
    display: inline-block;
}

input[type="radio"]:checked + label img:nth-child(1) {
    display: none;
}

input[type="radio"] + label img:nth-child(2) {
    display: none;
}

input[type="radio"]:checked + label img:nth-child(2) {
    display: inline-block;
}

/*}}}*/

/* {{{ Loading Spinner Icon */
#loader_container {
    display: inline;
}
/* Loading Spinner Icon }}}*/

/* {{{ LOADING LINES */
@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@-moz-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

path.loadingBox {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 50, 214;
    stroke-dashoffset: 0;
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}
/* LOADING LINES }}} */

/* vim: set foldmethod=marker: */
