div.navbar-fixed-top {
  height: 45px !important;
  overflow: hidden;
  position: fixed !important;

  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background-color: #7D15FB;
  z-index: 1030; /*Be on top of everything!*/
}

.scrollme {
  position: absolute;
  top: 45px;
  bottom: 0px;
  overflow-y: auto;
}
