body {
  background-color: #ccc;
  font-family: sans-serif;
  color: #000;
  font-size: 20px;
}

#chart {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  /*shape-rendering: crispEdges;*/
}
