.slider_outlines {
    stroke-width: 2;
    stroke: #4D4D4D;
    fill: none;
}

.slide_region {
    background-color: #F0F;
}

.slide_region * {
    fill: #DDD;
    stroke: #4D4D4D;
    cursor: pointer;
}

.slide_region text {
    pointer-events: none;
}

.slide_region .hover {
    fill: #EEE;
}

.slide_region .mousedown {
    fill: #CCC;
}

.handle {
    fill: #DDD;
    stroke: #4D4D4D;
    stroke-width: 3;
    cursor: pointer;
}
