body {
  background: #ddd
}

div.page-buffer {
  margin: 0 15px 0 15px;
}

div.page-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px; /* TODO: media this to look nicer on bigger screens*/
  border: 1px solid #333;
  background: #F2F2F2;
}

a.bigbutton {
  display: block;

  background-color: #DC840E;
  background: -moz-linear-gradient(center top, #FBA633, #DC840E) no-repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#FBA633, #DC840E) no-repeat scroll 0 0 transparent;
  border: 1px solid #9C5E09;

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 14px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.45);
  text-decoration: none;
}

a.bigbutton:active {
  background-color: #CC740E;
  background: -moz-linear-gradient(center top, #EB9623, #CC740E) no-repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#EB9623, #CC740E) no-repeat scroll 0 0 transparent;
}

a.bigbutton:hover {
  background-color: #CC740E;
  background: -moz-linear-gradient(center top, #EB9623, #CC740E) no-repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#EB9623, #CC740E) no-repeat scroll 0 0 transparent;
}

h2.ribbon {
  position: relative;
  width: 45%;
  padding: 6px 20px 6px 60px;
  margin: 30px 10px 20px -40px; /* TODO: media this one so that it matches with the other TODO up top ^^ */
  color: #FFF;
  background-color: #999;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow : 0px 2px 2px #888;
  -moz-box-shadow    : 0px 2px 2px #888;
  box-shadow         : 0px 2px 2px #888;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

h2.ribbon:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}

ul {
  list-style: none;
  padding: 0;
}

li:last-child a{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

li:first-child a{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
